pre{
    margin-top: 2%;
    font-size:20px;
}
@media(max-width:865px){
    pre{
        font-size:15px;
    }
}
@media(max-width:652px){
    pre{
        /* display: none; */
        width:100vw;
    }
}
@media(max-width:578px){
    pre{
        display: none;
    }
}